{% extends '@Front/base.html.twig' %}

{% block body %}

        <div class="blog-post">
            <h1 class="blog-post-title">{{ post.title }}</h1>
            {% if post.image %}
                <img width="300px" src="{{ asset('uploads/posts/images/') }}{{ post.image }}">
            {% endif %}
            <hr>
                <p class="blog-post-meta">
                    <span>Created - {{ post.createdAt|date }}</span>
                    <span>Updated - {% if post.updatedAt %}{{ post.updatedAt|date }}{% endif %}</span>
                    <span>Author - {% if post.user %}{{ post.user.username }}{% endif %}</span>
                </p>
            <hr>
            <p>{{ post.content }}</p>
        </div>
{% endblock %}




